body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

.info-title {
  visibility: hidden;
}

.logo-italica {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  background: #2e2f42;
}

.hero-btn {
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

.info {
  background: #f4f4fd;
}

.info-list {
  background-color: #ffffff;
}

.info-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.info-iteam-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-iteam {
  background-color: #ffffff;
}

.team {
  background-color: #f4f4fd;
}

.team-title-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-subtetle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer {
  background: #2e2f42;
}

.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.logo-italica-footer {
  color: #f4f4fd;
}
